/* Public */

* {
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}

body {
	padding: 0; 
	margin: 0;	
	 -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

/** Hidden **/
.zl-hidden {
	display: none !important;	
}

* {
	color: #555;
}

.last, .next {
	color: #ccc;
}

.today {
	color: #de3972;
}

#calendarHeader {
	background: #fff;
}

#calendarTable table {
    border-radius: 0;
}
.calendar-month-rows {
    position: relative;
}
.calendar-month-rows table {
    margin: 0 !important;
}
.calendar-month-rows table.calendar-row-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-radius: 0;
    border-top: none;
}
.calendar-month-rows table.calendar-row-bg tbody tr td.on {
	background: #fee;	
}
.calendar-month-rows table.calendar-row-body {
    position: relative;
    table-layout: fixed;
    width: 100%;
    background: rgba(0,0,0,0);
    border: none;
}

.calendar-month-rows table.calendar-row-body tbody tr td {
    padding: 0 2px;
    border: none;
}

table tbody tr td .td-pos {
	position: relative;
	padding: 1px 1px 0 2px;
	cursor: pointer;
}

table tbody tr td .td-pos .td-n {
	border: 1px solid #a9abef;
	color: #777;
	background: #e3e3ff;
	padding: 0 4px;
	position: relative;
	line-height: 14px;
}

table tbody tr td .td-pos .td-n.td-left {
	margin-left: 6px;
}

table tbody tr td .td-pos .td-n.td-right {
	margin-right: 6px;
}

table tbody tr td .td-pos .td-n .td-ni {
	overflow: hidden;
}

table tbody tr td .td-pos .td-n .td-ni span.left {
	border: 0px solid #000;
	border-width: 8px 6px 8px 0;
	position: absolute;
	top: -1px;
	left: -7px;
	border-color: transparent #a9abfe;
}

table tbody tr td .td-pos .td-n .td-ni span.left1 {
	border: 0px solid #000;
	border-width: 7px 6px 7px 0;
	position: absolute;
	top: 0px;
	left: -6px;
	border-color: transparent #e3e3ff;
}

table tbody tr td .td-pos .td-n .td-ni span.right {
	border: 0px solid #000;
	border-width: 8px 0 8px 6px;
	position: absolute;
	top: -1px;
	right: -7px;
	border-color: transparent #a9abfe;
}

table tbody tr td .td-pos .td-n .td-ni span.right1 {
	border: 0px solid #000;
	border-width: 7px 0 7px 6px;
	position: absolute;
	top: 0px;
	right: -6px;
	border-color: transparent #e3e3ff;
}

table tbody tr.calendar-more-date td span {
	color: #15c;
	cursor: pointer;
}
table tbody tr.calendar-more-date td span:hover {
	text-decoration: underline;
}

#calendarAddEventPopup {
	max-width: 400px;
}
#calendarAddEventPopup div.grid {
	width: 395px !important;
}

#calendarAddEventPopup div.grid .column.row.header {
	padding: 10px 0 0;
}
#calendarAddEventPopup div.grid .column.row.header #closePopup {
	padding: 1px;
	background: #fff;
}
#calendarAddEventPopup div.grid .column.row.input {
	padding: 15px 0;
}
#calendarAddEventPopup div.grid .column.row.input input {
	width: 100% !important;
}
#calendarAddEventPopup div.grid .column.row.date {
	padding: 0;
}
#calendarAddEventPopup div.grid .column.row.button {
	padding: 35px 0 15px;
}


#showMoreView {
	position: absolute;
	z-index: 180;
	display: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #fff;
}
#showMoreView .ui.grid {
	margin: 0;
}
#showMoreView .ui.grid .column.row {
	padding: 0;
}
#showMoreView .ui.grid .column.row.title {
	border-bottom: 1px solid #ccc;
	padding: 2px 0;
	font-size: 12px;
	line-height: 16px;
	background: #e8eef7;
}
#showMoreView .ui.grid .column.row.title #closeMore {
	cursor: pointer;
	color: #6f6f6f;
}
#showMoreView .ui.grid .column.row.title #closeMore {
	color: #555;
}
#showMoreView table {
	padding: 5px;
	margin: 0;
	border: none;
}
#showMoreView table tbody tr td {
	padding: 0;
	border: none;
}
#showMoreView table tbody tr.head td {
	border-bottom: 1px solid #ccc;
}

#dragView {
	border: 1px solid #a9abef;
	width: 150px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 20px;
	padding: 0 5px;
	background: #e3e3ff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
}